<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Xoo.SomeNumber" value="666"/>
		<add key="Xoo.SomeString" value="Hail Satan!"/>
		<add key="Xoo.SomeBoo" value="SpecialBoo"/>
		<add key="Xoo.AnyBoo" value="SmartElk.Antler.Windsor.Specs.WindsorAdapterSpecs+AnotherBoo, Antler.Windsor.Specs"/>
	</appSettings>
</configuration>