*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.suo
_ReSharper*
*.resharperoptions
*.resharper.user
*.resharper
*.dbproj.user
*.gpState
bin
obj
sql
*.dat
*.user
*.dbmdl
*.schemaview
log.txt*
*.sln.cache
*.suo
TestResults
*.rdl.data
packages
testdb
output
tmp
docs/_build/*
*.nuspec
*.nupkg