<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" culture="neutral" publicKeyToken="aa95f207798dfdb4" />
        <bindingRedirect newVersion="4.0.0.4000" oldVersion="0.0.0.0-4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
  <add key="ConnectionString" value="Data Source=(localdb)\Projects;Initial Catalog=AntlerTest;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
</appSettings>
</configuration>