@model IList<Blog.Service.Dto.UserDto>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div>
    <a href="@Url.Action("Index", "Home")">home</a>
</div>
<hr />
@foreach (var user in Model)
{
    <div>
       Name:@user.Name, Email:@user.Email, Id: @user.Id
    </div>
}