@model IList<Blog.Service.Dto.PostDto>

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

@foreach (var post in Model)
{
    <div>
        <a href="@Url.Action("Edit", "Post", new { id = post.Id })">@post.Title</a>
    </div>
}